/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

:root {
  --light-green: rgba(126, 213, 111, 0.8);
  --dark-green: rgba(40, 180, 131, 0.8);
  --text-main: #fff;
  --text-grey: #777;

  --font-header-1: 3.875rem;
  --font-header-2: 1.4rem;

  /* box shadow */
  --shadow-hover: rgb(0, 0, 0, 0.2);
  --shadow-active: rgb(0, 0, 0, 0.1);
}

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: var(--text-grey);
  padding: 30px;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      var(--light-green),
      var(--dark-green)
    ),
    url("../img/hero.jpg");
  background-repeat: cover;
  background-position: top;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

.heading-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: var(--text-main);
  text-transform: uppercase;

  /* The back part will be hidden. Especially when rotating*/
  backface-visibility: hidden;
  margin-bottom: 60px;
}

.heading-primary-main {
  display: block;
  font-size: var(--font-header-1);
  font-weight: 400;
  letter-spacing: 35px;

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  /* animation-iteration-count: 3; */
  /* animation-delay: 0.5s; */
}

.heading-primary-sub {
  display: block;
  font-size: var(--font-header-2);
  font-weight: 700;
  letter-spacing: 15px;

  animation: moveInRight 1s ease-out;
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.2s ease-out;
  font-weight: 700;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px var(--shadow-hover);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px var(--shadow-active);
}

.btn-white {
  background-color: var(--text-main);
  color: var(--text-grey);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s ease-out;
}

.btn-white::after {
  background-color: white;
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  80% {
    transform: translateY(-3px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn-animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  transition: all 0.4s ease-out;
  animation-fill-mode: backwards;
}
