.footer {
  background-color: $color-grey-dark-3;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: $color-grey-light-1;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  @include respond(tab-port) {
    padding: 8rem 0;
    text-align: center;
  }

  &__logo-box {
    text-align: center;
  }

  &__logo {
    width: 15rem;
    height: auto;
  }

  &__container {
    display: flex;
    text-align: center;
    gap: 8rem;

    & > * {
      flex: 1;
    }

    @include respond(tab-land) {
      gap: 6rem;
      max-width: 100%;
    }

    @include respond(tab-port) {
      gap: 2rem;
      flex-direction: column;
      max-width: 70rem;
    }

    &--left {
      display: flex;

      & > * {
        flex: 1;
      }

      @include respond(tab-port) {
        margin-top: 2.5rem;
      }
    }

    &--right {
      display: flex;
      justify-items: center;

      @include respond(tab-port) {
        margin-top: 2.5rem;
      }
    }
  }

  &__navigation {
    border-top: 1px solid $color-grey-dark;
    padding-top: 2rem;
    // display: inline-block;

    @include respond(tab-port) {
      text-align: inherit;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    & > * {
      flex: 1;
    }
  }

  &__item {
    text-align: center;
    gap: 2rem;
    @include respond(tab-land) {
      gap: 1rem;
      padding-inline: 0.5rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      background-color: $color-grey-dark-3;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all 0.2s;
      color: inherit;
    }

    &:hover,
    &:active {
      color: $color-primary;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
      transform: rotate(5deg) scale(1.3);
    }
  }

  &__copyright {
    color: inherit;
    border-top: 1px solid $color-grey-dark;
    padding-top: 2rem;
    display: inline-block;
    opacity: 0.5;

    @include respond(tab-port) {
      text-align: inherit;
    }
  }
}
