*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1 rem = 10px; 10px/16px = 62.5%

  // @include respond-phone {
  //   font-size: 50%;
  // }

  // 50% font size for phone; inherited on tab-port
  // @include respond(phone) {
  //   font-size: 50%;
  // }

  // ORDER: Base + Typography > general layour + grid > page layout > components

  // width < 900px
  @include respond(tab-land) {
    font-size: 56.25%; // 1 rem = 9px; 9/16 = 56.25%;
  }
  // width < 600px
  @include respond(tab-port) {
    font-size: 50%; // 1 rem = 8px; 8/16 = 50%;
  }
  @include respond(big-desktop) {
    font-size: 75%; // 1 rem = 12px; 12/16 = 75%;
  }
}

body {
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}
