.u-margin-top-bigger {
  margin-top: 10rem !important;
}
.u-margin-top-big {
  margin-top: 8rem !important;
  @include respond(tab-port) {
    margin-top: 5rem !important;
  }
}
.u-margin-bottom-big {
  margin-bottom: 8rem !important;
  @include respond(tab-port) {
    margin-bottom: 5rem !important;
  }
}
.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
  @include respond(tab-port) {
    margin-bottom: 3rem !important;
  }
}
.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
  @include respond(tab-port) {
    margin-bottom: 1rem !important;
  }
}
.u-center-container {
  margin-left: auto;
  margin-right: auto;
}
.u-center-text {
  text-align: center;
}
.u-gap-lg {
  gap: 6rem;

  @include respond(tab-port) {
    gap: 3rem;
  }

  @include respond(phone) {
    gap: 1.5rem;
  }
}
.u-gap-md {
  gap: 4rem;

  @include respond(tab-port) {
    gap: 4rem;
  }

  @include respond(phone) {
    gap: 2rem;
  }
}
.u-gap-sm {
  gap: 2rem;
}
.col {
  border: 1px solid lightcyan;
  width: 100%;
}
.u-text-overflow {
  @include respond(tab-land) {
    margin-bottom: 2rem;
    max-height: 25rem;
    overflow-y: scroll !important;
  }
}

// Font
$default-font-size: 1.6rem;
